@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #3b3d43;
}

/* Links in nav styling */
button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

/* Navbar container */
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #0b0b0b;
  color: #f9f9f9;
  font-family: "Poppins";
}

/* On click overlay */
.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

/* When the body has the 'open' class, make the navbar overlay visible */
body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

/* Burger icon styling */
.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

.navbar-title {
  margin: 0;
  font-size: 16px;
}

/* Navbar menu styling */
.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 100vw;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000;
  visibility: hidden;
  transition: all 0.3s;
}

/* When the body has the 'open' class, show the navbar menu */
body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

/* Styling for navbar menu buttons */
.navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
  transition: all 0.3s;
}

.navbar-menu > button.active {
  color: inherit;
}

/* Hover state for active navbar menu buttons */
.navbar-menu > button.active:hover {
  color: rgba(215, 27, 27, 0.75);
}

/* Hide burger icon in full screen */
.burger-icon {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  /* Keeps the burger menu in the corner */
  .navbar .burger-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    padding: 16px;
    cursor: pointer;
  }

  /* Centers the menu items */
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-menu > button {
    font-size: 2rem;
  }
}

/* Hides side menu over 600px */
@media only screen and (min-width: 601px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }

  /* Hiding the navbar overlay on larger screens */
  .navbar-overlay {
    display: none;
  }

  /* Hiding the burger icon on larger screens */
  .navbar-burger {
    display: none;
  }

  /* Adjusting styles for the navbar menu on larger screens */
  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}
